/*Global Styling*/
body {
	background-color: var(--bg-primary);
	font-family: var(--content-font)
}

.button a {
	display: inline-block;
	text-align: center;
	border-radius: 30px;
}





/*Font Styling*/
h1 {
	font-size: 2.5rem;
	font-family: var(--heading-font);
	font-weight: 700;
	color: var(--text-primary);
}

h2 {
	font-size: 2rem;
	font-family: var(--heading-font);
	font-weight: 700;
	color: var(--text-primary);
}

main p {
	color: var(--text-primary);
	max-width: 480px;
	margin: 0 auto;
	padding: 20px 0px;
}

.stats__heading {
	font-size: 4rem;
	font-weight: 700;
	color: var(--text-primary);
}

.stats__text {
	color: var(--text-secondary);
}

span.invalidText {
	color: var(--invalid-primary);
	font-size: 0.8125rem;
}

.footer__heading {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
}




/*Header Styling*/
header {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button__border a {
	color: var(--button-primary);
	border: 1px solid var(--button-primary);
	background-color: var(--bg-primary);
	padding: 10px 30px;
}




/*Hero Section*/
.hero-content {
	text-align: center;
}

.hero-image img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.hero-statistics__holder {
	margin-bottom: 150px;
}

.statistics__box {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.statistics__box img {
	width: 35px;
}



/*Company info Section*/
.wave-blue {
	background-color: var(--bg-secondary);
	position: relative;
}

.two-column__holder {
	margin-bottom: 200px;
	padding: 40px;
}

.button__pink a {
	background-color: var(--button-primary);
	padding: 15px 50px;
	color: var(--bg-primary);
	font-weight: 600;
}

.sign-up__holder {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 200px;
}




/*Footer Styling*/
footer {
	background-color: var(--text-primary);
	position: relative;
	color: var(--bg-primary);
}

span.contact-phone::before {
	content: url(img/icon-phone.svg);
	padding-right: 7px;
}

span.contact-email::before {
	content: url(img/icon-email.svg);
	padding-right: 7px;
}

.contact-info__holder {
	max-width: 375px;
}

.contact-info__holder span {
	display: block;
}

.newsletter__holder {
	max-width: 450px;
}




/*Media Queries*/
@media all and (max-width: 781px) {
	.hero-statistics__holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	h2 {
		padding-top: 100px;
	}

	.two-column__box {
		text-align: center;
	}

	.two-column__box img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.two-column__reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.wave-blue::before {
		content: "";
		position: absolute;
		background-image: url("img/bg-section-top-mobile-1.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		top: -112px;
		height: 112px;
	}

	.wave-blue::after {
		content: "";
		position: absolute;
		background-image: url("img/bg-section-bottom-mobile-1.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		bottom: -52px;
		height: 52px;		
	}

	footer::before {
		content: "";
		position: absolute;
		background-image: url("img/bg-footer-top-mobile.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		top: -53px;
		height: 53px;		
	}
}




@media all and (min-width: 782px) {
	.hero-statistics__holder {
		display: flex;
		text-align: center;
		justify-content: space-evenly;
	}

	.two-column__holder {
		display: flex;
		align-items: center;
	}

	.two-column__box {
		flex: 0 1 50%;
		align-items: center;
		text-align: center;
	}

	.two-column__box img {
		display: block;
		max-width: 50%;
		margin: 0 auto;
	}

	.wave-blue::before {
		content: "";
		position: absolute;
		background-image: url("img/bg-section-top-desktop-1.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		top: -165px;
		height: 165px;
	}

	.wave-blue::after {
		content: "";
		position: absolute;
		background-image: url("img/bg-section-bottom-desktop-1.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		bottom: -139px;
		height: 139px;		
	}

	footer {
		display: flex;
		justify-content: space-between;
	}

	footer::before {
		content: "";
		position: absolute;
		background-image: url("img/bg-footer-top-desktop.svg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
		right: 0;
		top: -158px;
		height: 158px;		
	}
}